<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Oportunidade">
  <ion-content direction="y" overflow-scroll="true" scrollbar-y="false" scrollbar-x="false">

    <div class="list card" ng-show='lead.company.name.length'>
      <div class="item item-divider positive" ng-click="companyShow = !companyShow; contactShow = false; locationShow = false; commentsShow = false;">Empresa</div>
      <div class="item item-body" ng-show="companyShow">
        <ion-item>
          <label class="item" ng-show='lead.company'>{{lead.company}}</label>
          <label class="item" ng-show='!lead.company'>{{lead.contact.person.name}}</label>
        </ion-item>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider positive" ng-click="contactShow = !contactShow; companyShow = false; locationShow = false; commentsShow = false;">Contato</div>
      <div class="item item-body" ng-show="contactShow">
        <ion-item>
          <label class="item">{{lead.contact.person.name}}</label>
        </ion-item>
        <ion-item>
          <label class="item">{{lead.contact.department}}</label>
        </ion-item>
        <ion-item>
          <label class="item">{{lead.contact.role}}</label>
        </ion-item>  
        <ion-item>
          <label class="item">{{lead.contact.email.address}}</label>
        </ion-item>    
        <ion-item>
          <label class="item">({{lead.contact.phone.areaCode}}) {{lead.contact.phone.prefix}}-{{lead.contact.phone.number}} {{lead.contact.phone.accessCode}}</label>           
        </ion-item>
        <ion-item>
          <label class="item">({{lead.contact.mobile.areaCode}}) {{lead.contact.mobile.prefix}}-{{lead.contact.mobile.number}}</label>               
        </ion-item>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider positive" ng-click="locationShow = !locationShow; companyShow = false; contactShow = false; commentsShow = false;">Endereco</div>
      <div class="item item-body" ng-show="locationShow">
        <ion-item>
          <label class="item">{{lead.address.address}}</label>
        </ion-item>
        <ion-item>
          <label class="item">{{lead.address.number}} {{lead.address.complement}}</label>
        </ion-item>
        <ion-item>
          <label class="item">{{lead.address.city.name}} - {{lead.address.city.state.acronym}}</label>
        </ion-item>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider positive" ng-click="commentsShow = !commentsShow; locationShow = false; companyShow = false; contactShow = false">Observacao</div>
      <div class="item item-body" ng-show="commentsShow">
        <ion-item>
          <label class="item">{{lead.comments}}</label>
        </ion-item>
      </div>
    </div>
  </ion-content>
</ion-view>
