<ion-view view-title="Contas">
  <ion-content class="padding" scroll="true" ng-cloak>
    <p class="text-center"><img src="img/logo.png"></p>
    <h4 class="text-center" ng-show="$root.settings.accounts.length">Escolha uma das contas de email cadastradas no seu celular para iniciar o aplicativo.</h4>
    <h3 class="text-center assertive" ng-show="!$root.settings.accounts.length">O seu celular não tem nenhuma conta cadastrada.</h3>
    <h5 class="text-center" ng-show="!$root.settings.accounts.length">Para usar o aplicativo é preciso que a conta de email usada no seu celular esteja cadastrada no sistema de Vendas da Altamira.</h5>
    <h6 class="text-center">Este aplicativo é de uso restrito da equipe de vendas da empresa Altamira Industria Metalurgica Ltda</h6>
    <ion-list>
    <ion-item ng-repeat="account in $root.settings.accounts" ng=show="$root.settings.accounts">
    	<ion-radio ng-model="$root.settings.account" ng-value="account">{{account}}</ion-radio>
    </ion-item>
    </ion-list>
    <button class="button button-block button-assertive" ng-show="$root.settings.account && !$root.settings.showSpin" ng-click="identifyUser($root.settings.account)">
      Usar esta conta
    </button>
    <p class="text-center" ng-show="$root.settings.account && $root.settings.showSpin"><ion-spinner></ion-spinner></p>
    <h6 class="text-center">Altamira Industria Metalurgica</br>&copy; 2015 todos os direitos reservados.</h6>
  </ion-content>
</ion-view>
