<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "br.com.altamira.sales.lead.representative"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Altamira Representantes</name>

    <description>
        App de apoio a equipe de vendas da empresa Altamira Industria Metalurgica Ltda 
    </description>

    <author href="http://www.altamira.com.br" email="alessandro.holanda@altamira.com.br">
        Alessandro Holanda
    </author>

    <content src="index.html"/>

    <gap:plugin name="org.apache.cordova.device" version="0.2.12" />

    <icon src="icon.png" />

    

</widget>